<!DOCTYPE html>
<html>
<head>
    <title>Razorpay Payment</title>
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
</head>
<body>

    <h2>Make Payment</h2>

    <button id="rzp-button" style="padding:10px 20px; background:#528FF0; color:white; border:none; border-radius:5px; cursor:pointer;">
        Pay with Razorpay {{amount}}
    </button>

    <script>
        document.getElementById('rzp-button').onclick = function(e){
            var options = {
                "key": "rzp_test_RmS9j2gPUxb05Y",
                "order_id": "{{order_id}}",
                "amount": "{{amount}}", // = Rs 500.00
                "currency": "INR",
                "name": "Test Payment",
                "description": "Sample Razorpay Pay Button",
                "image": "",
                "callback_url": "https://payment-manager-tmai.onrender.com/payment_manager/payment_id/",
                // "handler": function (response){
                //     alert("Payment ID: " + response.razorpay_payment_id);
                // },
                "prefill": {
                    "name": "",
                    "email": "",
                    "contact": ""
                },
                "theme": {
                    "color": "#528FF0"
                }
            };
            var rzp = new Razorpay(options);
            rzp.open();
            e.preventDefault();
        }
    </script>

</body>
</html>
